@import "card-blog-post.css";
@import "card.css";
@import "gallery.css";
@import "navigation.css";
@import "quotes.css";
@import "skeleton.css";

body {
  color: black;
  background-color: whitesmoke;
}

.heading {
  padding: 5px;
}
